<div class="container">
  <div class="empty-state">
    <p class="empty-state__text">
      There are currently no trips. <strong>Be the first to create one!</strong>
    </p>

    <%= link_to "Create new trip",
      new_trip_path,
      class: "btn btn--green",
      data: { turbo_frame: dom_id(Trip.new) } %>
  </div>
</div>