
<div class="header">
  <h1>Trips</h1>
  <p>Explore peoples trips through simple posts with an image.</p>
</div>

<div id="trips">
  <% @trips.each do |trip| %>
    <div class="container">
      <%= render trip %>
    </div>
  <% end %>
</div>