<div class="container">
  <div class="header">
    <h1>Trips</h1>
    <p>Post short updates and collect a trip history.</p>
  </div>

  <div id="trips">
    <% @trips.each do |trip| %>
      <%= render trip %>
      <p>
        <%= link_to "Show this trip", trip %>
      </p>
    <% end %>
  </div>

<%= link_to "New trip", new_trip_path %>

</div>