<%= render @trip %>

<% if current_user == @trip.user %>
  <h2>New post</h2>
  <div class="container">
    <%= render "posts/form", post: @post.presence || Post.new, trip: @trip %>
  </div>
<% end %>

<h2>Trip posts</h2>

<%= turbo_stream_from @trip %>
<% @trip.posts.each do |post| %>
  <%= render "posts/post", post: post %>
<% end %>