.dropdown {
  width: 3em;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;

  .dropdown__menu {
    width: 8em;
    right: 100%;
    padding: 0.4em;
    position: relative;
    visibility: hidden;
    transform-origin: top right;
    transform: scale(0.6) translateY(-20%);
    opacity: 0;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity, transform;
    background-color: var(--color-container);
    box-shadow: var(--shadow-small);
    z-index: 10;
    border-radius: 6px;
    border-style: solid;
    border-width: var(--borderWidth-thin, 1px);
    border-color: var(--color-border-color);

    &--toggled {
      visibility: visible;
      transform: scale(1) translateY(5px);
      opacity: 1;
    }

    &--wide {
      width: max-content;
      padding: 0.6em;
    }
  }

  .dropdown__menu-item {
    width: 100%;
    display: block;
    background: none;
    border: none;
    color: var(--color-text-header);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 6px;
    text-align: left;

    &:hover {
      transition: filter 250ms, color 200ms;
      background-color: #909dab1f;
    }

    &--danger {
      color: var(--color-primary-rotate);
    }
  }

  .dropdown__menu-section {
    border-top: solid 2px var(--color-border-color);
  }
}