.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-s);
  margin-bottom: var(--space-xs);
  align-items: center;

  &--with-padding {
    padding-top: var(--space-xl);
  }
}