.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-s);
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  align-items: center;

}