.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-s);
  margin-top: var(--space-l);
  margin-bottom: var(--space-xs);
  align-items: center;
}