<div class="container">
  <h2><%= @user.username %></h2>

    <h3>Email</h3>
    <div><%= @user.email %></div>

    <%= link_to "Update details", edit_user_registration_path,
    class: "btn btn--green" %>
</div>