<div class="container">
  <div class="empty-state">
    <p class="empty-state__text">
      <strong>There are no posts yet</strong>
    </p>
    <% if current_user == @trip.user %>
      <%= link_to "Add a post",
        new_post_path(trip_id: @trip.id),
        class: "btn btn--green",
        data: { turbo_frame: dom_id(Post.new) } %>
    <% end %>
  </div>
</div>