<%= turbo_frame_tag dom_id(@post) do %>
  <div class="container">
    <div class="post">
      <div class="post__content">
        <%= render partial: "form", locals: { post: @post } %>
      </div>
    </div>
  </div>
<% end %>