<%= turbo_frame_tag @post do %>
  <div class="header">
    <h2>Trip posts</h2>
  </div>
  <div class="container">
    <div class="post">
      <div class="post__title">
        <h2>
          <%= @trip.name %>
        </h2>
      </div>
      <%= render partial: "form", locals: { trip: @trip, post: @post } %>
    </div>
  </div>
<% end %>