.devise-form {
  display: flex;
  width: 500px;
  flex-direction: column;
  margin: 0 auto;
  gap: var(--space-xs);

  fieldset {
    border: none;
    margin-top: var(--space-xs);
  }

  .alert {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }

  .devise-form__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-xs);
  }

  .devise-form__actions {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  .form__input {
    display: block;
    width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: left;
    input {
      margin: 0.4em;
      width: 1em;
    }
  }

  @include media(tabletAndDown) {
    width: 100%;
  }
}