.empty-state {
  padding: var(--space-m);
  text-align: center;

  &__text {
    font-size: var(--font-size-l);
    color: var(--color-text-header);
  }

  .btn {
    margin-top: var(--space-s);
  }
}