// app/assets/stylesheets/components/_form.scss

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--space-xxs);
  textarea { resize: none; }

  .form__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      padding-right: 0.7em;
    }
  }

  .form__field {
    display: flex;
    flex-direction: column;
  }

  .form__input {
    display: block;
    width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }

    &--dark {
      background-color: var(--color-container);
      color: var(--color-light);
    }

    &--short {
      width: 50%;
    }

    &--body {
      min-height: 6em;
    }

    &--h2 {
      color: var(--color-primary);
      line-height: var(--line-height-headers);
      font-size: var(--font-size-xxl);
      font-weight: bold;
    }

    &--h4 {
      color: var(--color-primary);
      line-height: var(--line-height-headers);
      font-size: var(--font-size-l);
      font-weight: bold;
    }
  }

  .form__actions {
    display: flex;
    gap: var(--space-xs);
    justify-content: flex-end;
    margin-top: 0.5em;
  }
}