.navbar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 4em;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-m);
  margin-bottom: var(--space-xxl);
  color: var(--color-primary);

  &__user {
    font-weight: 600;
    margin-left: auto;
  }

  &__links {
    margin-right: var(--space-s);
    margin-left: auto;
  }

  @include media(tabletAndDown) {
    width: 100%;
    &__collections {
      display: none;
    }
  }
}