.post {
  &__body {
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0;
    padding: 0.4em 0.6em;
    min-height: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    outline: none;
  }
  &__actions{
    display: flex;
    gap: var(--space-xs);
    justify-content: flex-end;
    margin-top: 0.5em;
  }
}