.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;

  &__content {
    margin: 0;
    outline: none;
    display: flex;
    flex-direction: column;
  }

  &__actions {
    height: 2em;
  }

  &__body-header {
    color: var(--color-muted);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 0.6em;
    background-color: #2d333b;
    border-style: solid;
    border-radius: var(--borderRadius-medium, 6px);
    border-width: var(--borderWidth-thin, 1px);
    border-color: var(--color-border);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__body {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    border: 1px solid #bbb;
    border-radius: 4px;
    min-height: 5em;
    border-radius: var(--borderRadius-medium, 6px);
    border-width: var(--borderWidth-thin, 1px);
    border-color: var(--color-border);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .post__form-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 1em 1em 1em;
    border: 1px solid #bbb;
    border-radius: 4px;
    min-height: 5em;
    border-radius: var(--borderRadius-medium, 6px);
    border-width: var(--borderWidth-thin, 1px);
    border-color: var(--color-border);

    trix-toolbar {
      padding: 0.5em 0.6em;
      position: relative;
      left: -1em;
      height: 3em;
      width: calc(100% + 2em);;
      background-color: #2d333b;
      border-style: solid;
      border-radius: var(--borderRadius-medium, 6px);
      border-width: var(--borderWidth-thin, 1px);
      border-color: var(--color-border);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .trix-button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__body-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7em 0;

    &--column {
      flex-direction: column;
      gap: 0.5em;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0.5em;
    }
  }

  &__address {
    color: var(--color-muted);
    size: 0.8em;
  }

  &__address-icon {
    color: var(--color-muted);
    size: 0.8em;
    margin-right: 0.5em;
  }

  &__image {
    width: fit-content;
    display: flex;
    a {
      width: fit-content;
    }
  }
}