.post {
  .post__body {
    border: 1px solid #bbb;
    border-radius: 4px;
    margin: 0;
    padding: 0.4em 0.6em;
    min-height: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    outline: none;
  }

  .post__actions{
    display: flex;
    gap: var(--space-xs);
    justify-content: flex-end;
    margin-top: 0.5em;
  }

  .post__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


}