<div class="navbar-dropdown">
  <div class="dropdown" data-controller="dropdown" data-dropdown-active-target="#navbar_menu">
    <div class="navbar-dropdown__button" role="button" tabindex="0">
      <input data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="checkbox" class="menu-trigger hidden" id="togglenav" type="checkbox"/>
      <label class="burger-wrapper" for="togglenav">
        <div class="hamburger"></div>
      </label>
    </div>
    <div data-dropdown-target="menu" class="dropdown__menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
      <%= link_to "Trips", trips_path, data: {action: "click->dropdown#toggle"},
          class: "dropdown__menu-item" %>
      <% if user_signed_in? %>
        <div class="dropdown__menu_section">
          <a data-action="click->dropdown#toggle" class="dropdown__menu-item"
            href="<%= url_for(controller: '/users', action: 'show', username: current_user.username)%>">Profile</a>
          <a data-action="click->dropdown#toggle" class="dropdown__menu-item" href="/users/edit">Settings</a>
          <a data-action="click->dropdown#toggle" data-turbo-method="delete" class="dropdown__menu-item" href="/users/sign_out">Sign Out</a>
        </div>
      <% else %>
        <div class="dropdown__menu-section">
          <%= link_to "Sign Up",
            new_user_registration_path,
            class:"dropdown__menu-item" %>
          <%= link_to "Log In",
            new_user_session_path,
            class:"dropdown__menu-item" %>
        </div>
      <% end %>
    </div>
  </div>
</div>